[Desktop Entry]
Name=SWIR Player
Name[pl]=Odtwarzacz SWIR
Name[nb]=SWIR-spiller
GenericName=Media Player
GenericName[pl]=Odtwarzacz multimediów
GenericName[nb]=Mediespiller
Comment=Play local audio and video files
Comment[pl]=Odtwarzaj lokalne pliki audio i wideo
Comment[nb]=Spill av lokale lyd- og videofiler
Keywords=audio;video;music;media;player;
Keywords[pl]=audio;wideo;muzyka;multimedia;odtwarzacz;
Keywords[nb]=lyd;video;musikk;media;spiller;
Exec=swir-player %U
Icon=multimedia-video-player
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=audio/mpeg;audio/flac;audio/ogg;video/mp4;video/webm;video/x-matroska;
StartupNotify=true
X-GNOME-UsesNotifications=true
